.button-container {
  margin-top: 6px;
  display: flex;
  justify-content: center;

  span {
    font-size: 32px;
    margin: 0 auto;
    user-select: none;
    overflow: hidden;
    outline: none;
  }
}
