.wrapper {
  min-height: 645px;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;

  .back-to-menu-wrapper {
    position: absolute;
    bottom: 50px;
    left: 155px;
    a {
      color: #9e9e9e;
      user-select: none;
      overflow: hidden;
      outline: none;
      text-decoration: none;
      // margin-top: 20px;
    }
  }
}
