@import '../../variables.scss';
.wrapper {
  min-height: $min-height;
  padding: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;

  .back-to-menu-wrapper {
    position: absolute;
    bottom: 50px;
    left: 155px;
    a {
      user-select: none;
      overflow: hidden;
      outline: none;
      text-decoration: none;
    }
  }
}
