@import '../../variables.scss';
.time-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.time-block {
  width: 220px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 6px;
  color: $font-color;
  background-color: $light-grey;
  box-shadow: 0 0 10px #111111;
}
