@import '../../variables.scss';
@import '../../mixins.scss';

.time-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.time-block {
  @include card();
  width: 220px;
  height: 40px;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 6px;
}
