@import '../../variables.scss';
.action-place-block {
  background-color: $light-grey;
  width: 130px;
  height: 38px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #111111;
  margin-top: 28px;

  span {
    font-weight: bold;
    font-size: 19px;
    color: $font-color;
  }
}
